<!DOCTYPE html>
<html lang="en" style="height: 100%">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body style="height: 100%">
        <a
            class="dg-widget-link"
            href="http://2gis.ru/novosibirsk/firm/70000001042849440/center/83.02520513534547,54.72131140838464/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap"
            >Посмотреть на карте Новосибирска</a
        >
        <div class="dg-widget-link">
            <a
                href="http://2gis.ru/novosibirsk/firm/70000001042849440/photos/70000001042849440/center/83.02520513534547,54.72131140838464/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos"
                >Фотографии компании</a
            >
        </div>
        <div class="dg-widget-link">
            <a
                href="http://2gis.ru/novosibirsk/center/83.025202,54.721073/zoom/16/routeTab/rsType/bus/to/83.025202,54.721073╎Времена года, дом-ресторан?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route"
                >Найти проезд до Времена года, дом-ресторан</a
            >
        </div>
        <script
            charset="utf-8"
            src="https://widgets.2gis.com/js/DGWidgetLoader.js"
        ></script>
        <script charset="utf-8">
            new DGWidgetLoader({
                width: "100%",
                height: "100%",
                borderColor: "#a3a3a3",
                pos: {
                    lat: 54.72131140838464,
                    lon: 83.02520513534547,
                    zoom: 16,
                },
                opt: { city: "novosibirsk" },
                org: [{ id: "70000001042849440" }],
            });
        </script>
        <noscript style="color: #c00; font-size: 16px; font-weight: bold"
            >Виджет карты использует JavaScript. Включите его в настройках
            вашего браузера.</noscript
        >
    </body>
</html>
