@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");

@font-face {
    font-family: "Lastochka";
    src: url("~/assets/fonts/Lastochka.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.ff-handwrite {
    font-family: "Lastochka", cursive;
}

.landing-title {
    font-size: 3rem;
    line-height: 2;
}

.landing-title-2 {
    font-size: 2rem;
    line-height: 2;
}
