@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

$gray-950: #08142a;
$gray-900: #13213b;
// $gray-850: #1a273e;
$gray-800: #263144;
$gray-700: #333d50;
$gray-600: #3e4e6a;
// $gray-620: #4d5f7f;
// $gray-550: #969fb1;
$gray-500: #bdc0df;

$primary: #d7168b;
$secondary: #6c7393;
$success: #5faf42;
$danger: #cd5b5b;
$warning: #eaaf13;

$min-contrast-ratio: 2.725;

$font-family-sans-serif: "Open Sans", system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-size-base: 1.1rem;

$list-group-item-padding-y: 0.3rem;
$dropdown-item-padding-y: $list-group-item-padding-y;

$form-label-font-weight: 500;
$link-decoration: none;
$enable-caret: false;
$enable-negative-margins: true;
$badge-font-weight: normal;

$form-label-font-size: 0.7rem;
$form-label-margin-bottom: 0.15rem;
$form-label-font-weight: 600;

$marked: #ffec10;

@import "./node_modules/bootstrap/scss/bootstrap";
@import "./btn.scss";
@import "./flashes.scss";
@import "./fonts.scss";
@import "./landing.scss";
@import "./animation.scss";
@import "./icons.scss";

:root {
    --bs-gray-950: #{$gray-950};
    --bs-font-size-sm: #{$font-size-sm};
    --bs-nav-item-active-bg: var(--bs-gray);
}

body,
html {
    height: 100vh;
}

.h-33 {
    height: 33.33%;
}

.h-66 {
    height: 66.66%;
}
