.landing-hero {
    &-poster {
        background-image: url("/paper.webp");
        background-size: cover;
        background-position: top;
    }
    &-card {
        &-top {
            rotate: 12deg;
        }
        &-bottom {
            rotate: -14deg;
        }
    }
}
