<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <a
            class="dg-widget-link"
            href="http://2gis.ru/novosibirsk/firm/141265769783897/center/82.91785240173341,55.02229036121919/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap"
            >Посмотреть на карте Новосибирска</a
        >
        <div class="dg-widget-link">
            <a
                href="http://2gis.ru/novosibirsk/firm/141265769783897/photos/141265769783897/center/82.91785240173341,55.02229036121919/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos"
                >Фотографии компании</a
            >
        </div>
        <div class="dg-widget-link">
            <a
                href="http://2gis.ru/novosibirsk/center/82.917845,55.021823/zoom/16/routeTab/rsType/bus/to/82.917845,55.021823╎Гудман, стейк-хаус?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route"
                >Найти проезд до Гудман, стейк-хаус</a
            >
        </div>
        <script
            charset="utf-8"
            src="https://widgets.2gis.com/js/DGWidgetLoader.js"
        ></script>
        <script charset="utf-8">
            new DGWidgetLoader({
                width: 640,
                height: 600,
                borderColor: "#a3a3a3",
                pos: {
                    lat: 55.02229036121919,
                    lon: 82.91785240173341,
                    zoom: 16,
                },
                opt: { city: "novosibirsk" },
                org: [{ id: "141265769783897" }],
            });
        </script>
        <noscript style="color: #c00; font-size: 16px; font-weight: bold"
            >Виджет карты использует JavaScript. Включите его в настройках
            вашего браузера.</noscript
        >
    </body>
</html>
